<footer>
   <div class="info">
    <div class="info-socialmedia">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="info-mainname">&copy; StayVistaHub Private Limited</div>
    <div class="info-links">
        <a href="">Privacy</a>
        <a href="">terms</a>
    </div>
   </div>
</footer>