 body{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }
  .main{
    flex: 1;
  }

  .title{
    font-family:'Cormorant Garamond','serif';
    font: size 3.5rem;
    font-weight:700;
    letter-spacing: 2px;
    color:#1f2933
  }
  .title span{
    color:skyblue ;
    position:relative;
  }
  
 /* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-solid{
    color: skyblue;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
    font-size: large !important;
    
}

.search{
  display: flex;
  flex-wrap: wrap;
}
.search button{
    background-color:skyblue ;
    border-color: skyblue;
    color: skyblue;
    opacity: 1;
    color: black;
}
.search button:hover{
    background-color: skyblue;
}



@media (max-width: 1200px) {
  .search {
    display: none;
  }
}

/* footer info */
footer{
    background-color: lightgrey;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-socialmedia{
    width: 100%;
}
.info-socialmedia i{
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    margin-left: 0.75rem;
}

.info-links{
    width: 100%;

}
.info-mainname{
    width: 100%;
}

.info-links a{
    color: black;
    text-decoration: none;
}
.info-links a:hover{
    text-decoration: underline;
}
.info{
    display: flex;
   flex-wrap: wrap;
   text-align: center;
   flex-direction: row;
   
}

/* listings */

.card{
    border: none !important;
    margin: 1rem 2.3rem 1rem 2.3rem;
    min-width: 250px;

}
.card-body{
    padding: 1% !important;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listing-main{
     display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    height: 18rem;
    object-fit: cover !important; 
  
}
.card-img-overlay{
     opacity: 0 !important;
}
.card-img-overlay:hover{
     opacity: 0.2 !important;
    background-color: white !important;
   
}
.card a{
    color: black;
    text-decoration: none ;
}
.card img{
      height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

/* form adding list */
.newform{
    padding: 0 2rem 1rem 2rem;
}
.newform button{
   background-color: rgb(122, 200, 231);
   border: none;
}
.editform button{
   background-color: rgb(122, 200, 231);
   border: none;
}



/* view */
.view-image{
    height: 30vh !important;
}
.btns{
    display: flex;
    flex-direction: row;
    margin-left: 11rem;  
}
.btns button {
      background-color: rgb(122, 200, 231);
      border: none;
}

/* review cards */
.review-card{
    border:1px solid grey;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    
}

/* edit image preview */
.edit-image{
    height: 20vh;
}

