<%-layout("/layout/boilerplate")-%>
<body>
    <div class="row mt-4">
        <div class="col-6 offset-3" style="text-align: center;"> <h1 class="title">SignIn on StayVista<span>Hub</span></h1></div>
        <br>
        <br><br>
        <div class="col-6 offset-3" >
            <form action="/signin" method="post" class="needs-validation" novalidate >
                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input type="text" id="username" name="username" class="form-control" required><br>
                    <div class="invalid-feedback">Please enter Unique username</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid password</div>
                </div>
                <button class="btn btn-info">SignIn</button>
            </form>
        </div>
    </div>
</body>